
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="A REST APIs website that provides a wide variety of features for developers." />
    <meta name="robots" content="archive, follow, imageindex, index, odp, snippet, translate" />
    <meta name="author" content="LoL Human" />
    <title>MRU - REST APIs</title>
    <meta property="og:site_name" name="og:site_name" content="MRU APIs" />
    <meta property="og:title" name="og:title" content="MRU - REST APIs" />
    <meta property="og:url" name="og:url" content="https://mru-api.herokuapp.com/" />
    <meta property="og:image" name="og:image" content="https://avatars.githubusercontent.com/u/79522358?v=4" />
    <meta property="og:description" name="og:description" content="A REST APIs website that provides a wide variety of features for developers." />
    <link rel="apple-touch-icon" sizes="57x57" href="https://api.lolhuman.xyz/static/icon/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="https://api.lolhuman.xyz/static/icon/apple-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="https://api.lolhuman.xyz/static/icon/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="https://api.lolhuman.xyz/static/icon/apple-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="https://api.lolhuman.xyz/static/icon/apple-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="https://api.lolhuman.xyz/static/icon/apple-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="https://api.lolhuman.xyz/static/icon/apple-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="https://api.lolhuman.xyz/static/icon/apple-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="https://api.lolhuman.xyz/static/icon/apple-icon-180x180.png" />
    <link rel="shortcut icon" type="image/x-icon" href="https://avatars.githubusercontent.com/u/79522358?v=4" />
    <link rel="icon" type="image/png" sizes="192x192" href="https://api.lolhuman.xyz/static/icon/android-icon-192x192.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="https://api.lolhuman.xyz/static/icon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="https://api.lolhuman.xyz/static/icon/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="https://api.lolhuman.xyz/static/icon/favicon-16x16.png" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="https://api.lolhuman.xyz/static/icon/ms-icon-144x144.png" />
    <meta name="theme-color" content="#ffffff" />
    <link rel="canonical" href="https://mru-api.herokuapp.com/" />
    <link rel="stylesheet" href="https://api.lolhuman.xyz/static/css/home.css" />
</head>

<body>
    <div class="text">
        <div class="status">
            <p>
                API STATUS: <span class="typed-text"></span
                    ><span class="cursor typing"></span>
            </p>
        </div>
        <hr />
        <div class="readdocs">
            <p>Read <a href="docs" class="docs">Docs.</a></p>
        </div>
    </div>
    <div class="bottom">
        <p>
            <a href="http://" target="_blank" rel="noopener noreferrer" class="sosmed">
                <svg class="h-6 w-6 text-white" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" />
                        <path d="M15 10l-4 4l6 6l4 -16l-18 7l4 2l2 6l3 -4" />
                    </svg> Blank
            </a>
        </p>
    </div>
</body>
<script src="https://api.lolhuman.xyz/static/js/script.js"></script>

</html>